In [1]:
import pandas as pd
import pickle

https://www.irs.gov/statistics/soi-tax-stats-individual-income-tax-statistics-2016-zip-code-data-soi

In [4]:
zc_df = pd.read_csv("../data/16zpallagi.csv")
pop_df = pd.read_csv('../data/2010_census_zip_pop.csv')

* A02650: Total income
* NUMDEP: Number of Dependents
* N02300: Number of returns with unemployment

# TAX

In [5]:
tax_df = zc_df.groupby('zipcode').mean().reset_index()[['zipcode','A02650', 'NUMDEP', 'N02300']]\
.rename(columns={'A02650': "total_income", 'NUMDEP': 'num_dependents', 'N02300': 'num_unemployed'})

tax_df.head()

   zipcode  total_income  num_dependents  num_unemployed
0        0  3.397431e+07   304947.581699    18300.490196
1     1001  8.542433e+04      651.666667       81.666667
2     1002  1.363077e+05      688.333333       48.333333
3     1003  4.948000e+02        0.000000        0.000000
4     1005  2.326833e+04      206.666667       31.666667

# POPULATION

In [6]:
pop_df.rename(columns={'Zip Code ZCTA': 'zipcode', '2010 Census Population': '2010_population'}, inplace=True)

## MERGING: POPULATION + TAX

In [7]:
z_df = pop_df.merge(tax_df, on="zipcode", how='inner')

In [8]:
def clean_zip(z):
    cleaned = str(z) if z > 10000 else "0" + str(z)
    return cleaned

z_df.zipcode = z_df.zipcode.apply(clean_zip)

# MEDIAN AGE

In [13]:
age_df = pd.read_csv('../data/median_age_by_zip_code.csv')\
.rename(columns={'ZIP':'zipcode', 'Median_age': 'median_age'})[['zipcode', 'median_age']]

age_df.zipcode = age_df.zipcode.apply(clean_zip)

age_df.head()

  zipcode  median_age
0    0601        37.1
1    0602        39.0
2    0603        39.2
3    0606        39.2
4    0610        39.7

## MERGING: AGE + PRIOR MERGE

In [15]:
z_df.shape

(29958, 5)

In [18]:
z_df_with_age = z_df.merge(age_df, on='zipcode', how='inner')

z_df_with_age.head()

,zipcode,2010_population,total_income,num_dependents,num_unemployed,median_age
0,01001,16769,85424.333333,651.666667,81.666667,44.3
1,01002,29049,136307.666667,688.333333,48.333333,23.0
2,01003,10372,494.800000,0.000000,0.000000,20.0
3,01005,5079,23268.333333,206.666667,31.666667,42.7
4,01007,14649,94138.666667,681.666667,70.000000,41.8

In [10]:
with open('../data/cleaned_original.pkl', 'rb') as file:
    cleaned_original = pickle.load(file)
cleaned_original.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 811 entries, 0 to 810
Data columns (total 6 columns):
building_rating_id    810 non-null float64
building_name         811 non-null object
address               811 non-null object
city                  811 non-null object
state                 811 non-null object
zipcode               811 non-null object
dtypes: float64(1), object(5)
memory usage: 38.1+ KB

In [21]:
merged_zip = cleaned_original.merge(z_df_with_age, on='zipcode', how='inner')

merged_zip.head()

,building_rating_id,building_name,address,city,state,zipcode,2010_population,total_income,num_dependents,num_unemployed,median_age
0,2.0,courtyard apartments,524 Chiechi Ave,San Jose,CA,95126,31049,314336.000000,1598.333333,138.333333,33.8
1,3.0,parkview apartments,360 Meridian Ave,San Jose,CA,95126,31049,314336.000000,1598.333333,138.333333,33.8
2,2.0,courtyard apartments,38665 E 11th St,Palmdale,CA,93550,74929,178149.333333,5235.000000,291.666667,27.1
3,2.0,courtyard apartments,38675 12th St E,Palmdale,CA,93550,74929,178149.333333,5235.000000,291.666667,27.1
4,2.0,courtyard apartments,800 Main St,Van Meter,IA,50261,2211,19393.333333,155.000000,6.666667,38.8

In [22]:
with open('./final_data.pkl', 'wb') as file:
    pickle.dump(merged_zip, file)