In [40]:
import numpy as np
import pandas as pd

pd.set_option('display.max_colwidth', -1)

In [5]:
apt_df = pd.read_excel("./Apartment Names And Addresses.xlsx")

In [18]:
apt_df.head()

,BuildingRatingID,BuildingName,Address,City,State,Zip
0,2.0,courtyard apartments,524 Chiechi Ave ...,San Jose,CA,95126
1,2.0,courtyard apartments,38665 E 11th St ...,Palmdale,CA,93550
2,2.0,courtyard apartments,38675 12th St E ...,Palmdale,CA,93550
3,2.0,courtyard apartments,800 Main St ...,Van Meter,IA,50261
4,2.0,courtyard apartments,10036 Gould St ...,Riverside,CA,92503

In [28]:
apt_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 811 entries, 0 to 810
Data columns (total 6 columns):
BuildingRatingID    810 non-null float64
BuildingName        811 non-null object
Address             811 non-null object
City                811 non-null object
State               811 non-null object
Zip                 811 non-null int64
dtypes: float64(1), int64(1), object(4)
memory usage: 38.1+ KB

In [44]:
def format_row(row):
    rating = float(row.BuildingRatingID)
    name = row.BuildingName.lower().strip()
    address = row.Address.strip()
    city = row.City.strip()
    state = row.State.strip()
    z = str(row.Zip) if row.Zip > 10000 else "0" + str(row.Zip)
    
    return {
        'rating': rating,
        'name': name,
        'address': address,
        'city': city,
        'state': state,
        'zipcode': z
    }

cleaned_rows = []

for i, row in apt_df.iterrows():
    cleaned_rows.append(format_row(row))
    
cleaned_df = pd.DataFrame(cleaned_rows)